<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>forgot password</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <form action="/forgot-password" method="POST">
    <input type="email" name="email" placeholder="メールアドレス" required>
    <button type="submit">パスワードリセットリンクを送信</button>
  </form>

  <a href="/logout">ログアウト</a>
</body>

</html>