<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>パスワードをリセット</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <h1>新しいパスワードを設定</h1>
  <% if (message && message.length> 0) { %>
    <p class="error">
      <%= message %>
    </p>
    <% } %>
      <form action="/reset-password/<%= token %>" method="POST">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="token" value="<%= token %>">
        <label for="password">新しいパスワード:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">パスワードをリセット</button>
      </form>
      <p><a href="/login">ログインページへ戻る</a></p>
</body>

</html>