<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>forgot password</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <form action="/reset-password/<%= token %>" method="POST">
    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="hidden" name="token" value="<%= token %>">
    <input type="password" name="password" placeholder="新しいパスワード" required>
    <button type="submit">パスワードをリセット</button>
  </form>

  <a href="/logout">ログアウト</a>
</body>

</html>